<header class="header" >
    <h1 class="titulo header-titulo">Grupo Destroyers <span class="header-span">Proyecto Sistema Gestion</span></h1>
    <picture class="header-img">
        <source srcset="/assets/descarga.webp" type="image/webp">
        <img loading="lazy" src="/assets/descarga.png" alt="cudi.png">
    </picture>
</header>

<div class="nav-bg nav-sticky">
    <nav class="navegacion-principal contenedor">
        <a href="/">Inicio</a>	
        <a href="/login">Consultas</a>
        <a href="/register">Registrarse</a>
    </nav>
</div>